body {
    background: #eee;
    font-family: arial, sans-serif;
}
.container {
    background: #fff;
    margin: 4rem auto;
    padding: 2rem;
    max-width: 30em;
}
h1 {
    margin-top: 0;
}
hr {
    background: #ccc;
    border: 0;
    height: 1px;
    margin: 2em 0;
}
.name {
    margin-left: -0;
}
.email {
    margin-left: -0;
}
.description {
    margin-left: -8172px;
}
